<div class="container">
    <h2>پنل کاربری</h2>
    <% if (!user.isActive) { %>
        <p>پنل کاربری شما هنوز فعال نشده است.</p>
    <% } else { %>
        <p>به پنل کاربری خوش آمدید، <%= user.firstName %>!</p>
        <!-- محتوای اضافی برای کاربران فعال -->
    <% } %>
</div>
